<h1>Summoner data</h1>

<p *ngIf="!summoner"><em>Loading...</em></p>
<p *ngIf="summoner">
  Summoner name: {{summoner.summoner.name}}<br />
  Summoner accountId: {{summoner.summoner.accountId}}<br />
  Summoner level: {{summoner.summoner.summonerLevel}} <br />
</p>
<div  *ngIf="summoner.matches">
  <p> Match history</p>
  <table class='table'>
    <thead>
      <tr>
        <th>Lane</th>
        <th>Champion</th>
        <th>Queue</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of summoner.matches.matches">
        <td>{{ match.lane }}</td>
        <td>{{ match.champion }}</td>
        <td>{{ match.queue }}</td>
        <td>{{ match.role }}</td>
      </tr>
    </tbody>
  </table>
</div>

